:root {
    --LimeGreen: #778A35;
    --LightGreen: #31352E;
    --Backgrounds: #EBEBE8;
    --Borders: #94C973;
}

*{
    margin: 0;
    padding: 0;
    
}

header {
    display: flex;
    justify-content: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #778A35;
    border-bottom: soli 2px var(--LimeGreen);
    
}

body {
    display: flex;
    flex-direction: column;
    background-image: url(http://wallpaperset.com/w/full/d/8/1/234684.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

footer {
    padding: 10px 5px 5px 5px;
    background-color: var(--LightGreen);
    text-align: center;
    border-top: solid 5px var(--LimeGreen);
    color: var(--Backgrounds);
    height: 30px;

}

nav {
    display: flex;
    padding: 2px;
    background-color: var(--LightGreen);
    border-bottom: solid var(--LimeGreen) 2px;
    justify-content: space-between;

}

nav a {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 10px 20px;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

main {
    display: flex;
    flex: wrap;
    
    justify-content: center;
    align-items: center;
   
 
}

h1 {
    padding-top: 20px;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    
    font-size: 60px;
    color: var(--LimeGreen)
}

h3 {
    background-color: #31352E;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: var(--Backgrounds);
    text-decoration: underline;
    border-radius: 7px
}

ul {
    padding-left: 20px;
    padding-top: 10px;
    
}

.cardholder {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
       
}

.card-sec {
    border: solid 2px #778A35;
    border-radius: 10px;
    flex: 0 0 300px;
    margin: 40px;
    height: 200px;
    width: 300px;
    background-image: url(http://wallpaperset.com/w/full/d/8/1/234684.jpg);
}

.card-sec:hover {
    border:solid 2px lime;
    cursor: pointer;
}

.card-sec-first-website {
    border: solid 2px #778A35;
    border-radius: 5px;
    flex: 0 0 300px;
    margin: 40px;
    height: 200px;
    width: 300px;
    color: var(--Backgrounds);
    border-radius: 10px;
    background-image: url(http://wallpaperset.com/w/full/d/8/1/234684.jpg);
}

.card-sec-first-website:hover {
    border: solid 2px lime;
    cursor: pointer;
    
}

.card-sec-first-website:hover > h3 {
    color: lime;
}





.card-sec > p {
    text-align: center;
    color: var(--LimeGreen);
    padding: 10px 5px 30px 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card-sec:hover > h3 {
    color: lime;
}



